extends ./_layouts-includes/_layout.jade

//- 10 % 3 // = 1 ; because 3 * 3 gets you 9, and 10 - 9 is 1.



block content
  - each card, i in cards
    .card-sheet
      include ./_layouts-includes/_cutmarks.jade


      .card.front
        .card-main-visual(style="background-image: url(/assets/bucket/card-images/#{card.image})")
        .card-name= card.name
      .card.back
        .card-name= card.name
        if card.real_name
          .property.card-realname
            i.fa.fa-check-circle
              | &nbsp;
            span.card-tags__text= card.real_name
        if card.url
          .property.card-url
            i.fa.fa-globe
              //- hand-pointer-o
              | &nbsp;
            span.card-url__text= card.url
        if card.location
          .property.card-location
            i.fa.fa-map-marker 
              | &nbsp;
            span.card-location__text= card.location
        if card.tags
          .property.card-tags
            i.fa.fa-tags
              | &nbsp;
            span.card-tags__text= card.tags
        if card.skills
          .property.card-skills
            i.fa.fa-rocket
              | &nbsp;
            span.card-skills__text= card.skills
        if card.superpower
          .property.card-superpowers
            i.fa.fa-bolt 
              | &nbsp;
            span.card-superpowers__text= card.superpower
        if card.likes
          .property.card-likes
            i.fa.fa-heart 
              | &nbsp;
            span.card-likes__text= card.likes
        if card.text
          .card-text
            span.card-text__text= card.text






  //- holds inline ui-lang and jquery
  include ./_layouts-includes/_interaction.jade